[submodule "ios/hpple"]
	path = dependencies/hpple
        url = git@github.com:jbmorley/hpple.git
[submodule "interact"]
	path = dependencies/interact
	url = git@github.com:jbmorley/interact.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = https://github.com/jbmorley/build-tools.git
[submodule "diligence"]
	path = dependencies/diligence
	url = git@github.com:inseven/diligence.git
[submodule "SQLite.swift"]
	path = dependencies/SQLite.swift
	url = git@github.com:jbmorley/SQLite.swift.git
[submodule "SelectableCollectionView"]
	path = dependencies/SelectableCollectionView
	url = git@github.com:jbmorley/SelectableCollectionView.git
