[submodule "ios/hpple"]
	path = ios/hpple
        url = git@github.com:jbmorley/hpple.git
[submodule "interact"]
	path = interact
	url = git@github.com:jbmorley/interact.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = git@github.com:jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = git@github.com:jbmorley/build-tools.git
[submodule "diligence"]
	path = diligence
	url = git@github.com:inseven/diligence.git
[submodule "SQLite.swift"]
	path = SQLite.swift
	url = git@github.com:jbmorley/SQLite.swift.git
