<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>uk.co.inseven.bookmarks.new</key>
		<string>Bookmarks App Store Profile</string>
		<key>uk.co.inseven.bookmarks.new.ShareExtension</key>
		<string>Bookmarks Share Extension App Store Profile</string>
	</dict>
	<key>signingCertificate</key>
	<string>2AEA1234843D262A1F540E2F27DCC258932B0F57</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>S4WXAUZQEV</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
